/* general */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* frame and background */

.frame {
  height: 762px;
  width: 762px;
  position: relative;
}

.inner {
  position: relative;
}

.game {
  width: 628px;
  height: 577px;
  position: absolute;
  top: 62px;
  left: 67px;
}

.game.night {
  width: 716px;
  top: 62px;
  left: -19px;
}

.hidden {
  display: none;
}

/* buttons */

.buttons {
  position: absolute;
  top: 674px;
  left: 266px;
  height: 71px;
  width: 228px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  position: absolute;
  top: 572px;
  left: 194px;
  height: 67px;
  width: 374px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* lol poop */

.poop-bag {
  position: absolute;
  top: 300px;
  left: 160px;
}

/* modal */

.modal-inner {
  background-color: blueviolet;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.modal:empty {
  display: none;
}

.modal-inner:empty {
  display: none;
}
